@if (!String.IsNullOrWhiteSpace(BHIC.Common.XmlHelper.ConfigCommonKeyReader.InspectletWid))
{
    <script type="text/javascript">
        var isactive = window.localStorage.getItem('isSessionCreated');
        var inspectletWid = '@BHIC.Common.XmlHelper.ConfigCommonKeyReader.InspectletWid';
        var inspectletQuoteid = '@BHIC.Common.Quote.QuoteCookieHelper.Cookie_GetQuoteId(new HttpContextWrapper(HttpContext.Current))';
        var inspectletSessionid = '@Session.SessionID';
        var gaCode = '@BHIC.Common.XmlHelper.ConfigCommonKeyReader.GACode';

    </script>
    @BHIC.Common.Configuration.CDN.RenderScripts("/bundles/scripts/lp-Inspectlet");
    @BHIC.Common.Configuration.CDN.RenderScripts("/bundles/scripts/lp-GoogleAnalytics");
}
<div ng-init="TemplateInit();">

    <header>
        <div class="container clear">
            <div class="row no-gutter">
                <div class="lg-col-4 md-col-5">
                    <h1 class="logo">
                        <a href="/PurchasePath/Home">
                            <img src="~/Images/Logo/logo_1.png" alt=" cover your business" class="sm-hide"> 
                            <img src="~/Images//Logo/logo_2.png" alt=" cover your business" class="md-hide lg-hide">                                
                        </a>
                    </h1>
                </div>
                <div class="lg-col-9 md-col-7 nav-col">
                    <div class="topbar bg-gold clear">
                        <div class="dropdown helpline-dropdown">
                            <p class="talk-to-expert"> Talk to our Licensed Experts </p>
                            <a href="tel:8444720967" class="helpline">
                                <svg class="icon-phone-white" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 52.5 52.5" xml:space="preserve">
                                <path d="M40.3 33.3c-1-0.7-3.6-1.4-5.6 1.1 -2 2.5-4.5 6.6-13.8-2.8 -9.3-9.3-5.2-11.8-2.8-13.8 2.5-2 1.8-4.5 1.1-5.6 -0.7-1-5-7.7-5.8-8.8 -0.8-1.1-1.8-2.9-4.2-2.6C7.5 1.1 0.8 4.7 0.8 12.3s6 17 14.2 25.2c8.2 8.2 17.6 14.2 25.2 14.2 7.6 0 11.2-6.8 11.5-8.5 0.3-2.4-1.5-3.4-2.6-4.2C48 38.3 41.3 33.9 40.3 33.3z"></path>
                                </svg>
                                844-472-0967
                            </a>
                            <p class="call-time"> Mon - Fri 8am - 8pm EST </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-open lg-hide">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div class="main">
        <section class="main-head">
            <h1> Fast. Easy. <span>Upto</span> 20% savings.</h1>
            <h2> Cover Your Business with <strong> Warren Buffett's Berkshire Hathaway Insurance Group</strong>.</h2>
        </section>
        <section class="home hero-unit" ng-style="{'background-image':'url({{MainImage}})'}" data-ng-cloak="">
            <div class="container">
                <div class="row">
                    <div class="lg-col-6 md-col-7">
                        <div class="tagline">
                            <h1>{{(ProductName != null) ? ProductName : 'Workers’ Comp Insurance'}}</h1>
                            <ul class="no-style left clear" ng-if="ProductHighlight == null">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="14" height="14" viewBox="0 0 16.4 12.3" xml:space="preserve">
                                    <path class="fill-white" d="M15.9 3.3l-8.4 8.5C7.3 12 7 12.1 6.8 12.1c-0.3 0-0.5-0.1-0.7-0.3L0.5 6.1C0.3 5.9 0.2 5.7 0.2 5.4c0-0.3 0.1-0.5 0.3-0.7l1.4-1.4C2.1 3.1 2.3 3 2.6 3c0.3 0 0.5 0.1 0.7 0.3l3.5 3.6 6.3-6.4c0.2-0.2 0.4-0.3 0.7-0.3 0.3 0 0.5 0.1 0.7 0.3l1.4 1.4c0.2 0.2 0.3 0.4 0.3 0.7C16.2 2.9 16.1 3.1 15.9 3.3L15.9 3.3zM15.9 3.3"></path>
                                    </svg>
                                    Mandatory for almost all businesses
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="14" height="14" viewBox="0 0 16.4 12.3" xml:space="preserve">
                                    <path class="fill-white" d="M15.9 3.3l-8.4 8.5C7.3 12 7 12.1 6.8 12.1c-0.3 0-0.5-0.1-0.7-0.3L0.5 6.1C0.3 5.9 0.2 5.7 0.2 5.4c0-0.3 0.1-0.5 0.3-0.7l1.4-1.4C2.1 3.1 2.3 3 2.6 3c0.3 0 0.5 0.1 0.7 0.3l3.5 3.6 6.3-6.4c0.2-0.2 0.4-0.3 0.7-0.3 0.3 0 0.5 0.1 0.7 0.3l1.4 1.4c0.2 0.2 0.3 0.4 0.3 0.7C16.2 2.9 16.1 3.1 15.9 3.3L15.9 3.3zM15.9 3.3"></path>
                                    </svg>
                                    Covers employees injured at work
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="14" height="14" viewBox="0 0 16.4 12.3" xml:space="preserve">
                                    <path class="fill-white" d="M15.9 3.3l-8.4 8.5C7.3 12 7 12.1 6.8 12.1c-0.3 0-0.5-0.1-0.7-0.3L0.5 6.1C0.3 5.9 0.2 5.7 0.2 5.4c0-0.3 0.1-0.5 0.3-0.7l1.4-1.4C2.1 3.1 2.3 3 2.6 3c0.3 0 0.5 0.1 0.7 0.3l3.5 3.6 6.3-6.4c0.2-0.2 0.4-0.3 0.7-0.3 0.3 0 0.5 0.1 0.7 0.3l1.4 1.4c0.2 0.2 0.3 0.4 0.3 0.7C16.2 2.9 16.1 3.1 15.9 3.3L15.9 3.3zM15.9 3.3"></path>
                                    </svg>
                                    Takes care of medical bills & lost wages
                                </li>
                            </ul>
                            <ul class="no-style left clear" ng-if="ProductHighlight != null">
                                <li ng-repeat="highlight in ProductHighlight">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="14" height="14" viewBox="0 0 16.4 12.3" xml:space="preserve">
                                    <path class="fill-white" d="M15.9 3.3l-8.4 8.5C7.3 12 7 12.1 6.8 12.1c-0.3 0-0.5-0.1-0.7-0.3L0.5 6.1C0.3 5.9 0.2 5.7 0.2 5.4c0-0.3 0.1-0.5 0.3-0.7l1.4-1.4C2.1 3.1 2.3 3 2.6 3c0.3 0 0.5 0.1 0.7 0.3l3.5 3.6 6.3-6.4c0.2-0.2 0.4-0.3 0.7-0.3 0.3 0 0.5 0.1 0.7 0.3l1.4 1.4c0.2 0.2 0.3 0.4 0.3 0.7C16.2 2.9 16.1 3.1 15.9 3.3L15.9 3.3zM15.9 3.3"></path>
                                     </svg>
                                    {{highlight}}
                                </li>
                            </ul>
                            <form action="{{RedirectURL}}">
                                <input type="submit" class="btn btn-primary btn-lg" value="{{(BTNText != null) ? BTNText : 'Get a Quote and Buy Now'}}" />
                            </form>
                        </div>
                    </div>
                    <div class="lg-col-6 md-col-5">
                        <div class="phone">
                            <img src="~/Images/mobile.png" alt="Cover Your Business">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="container">
                <p> {{(CalloutText != null) ? CalloutText : "Lorem lipsum dummy text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doremque laudantium, totam rem aperiam, eaque ipsa quae ab illo in"}}</p>
                
            </div>
        </section>
        <section class="our-products">
            <div class="container">
                <div class="row equalize">
                    <div ng-if="CTAMsgList == null && HeadingList==null">
                        <div class="md-col-4 lg-col-4">
                            <div class="content-box product-discription">
                                <h3> Lorem lipsum dummy</h3>
                                <ul>
                                    <li> Lorem lipsum dummy text Sed ut perspicia tis unde. </li>
                                    <li> Mnis iste natus error sit oluptatem accusant sdfg inatus error sit. </li>
                                    <li> Voluptatem accusantiumsdfgssd. Redoremque laum aperiam. </li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-col-4 lg-col-4">
                            <div class="content-box product-discription">
                                <h3> Lorem lipsum dummy </h3>
                                <ul>
                                    <li> Lorem lipsum dummy text Sed ut perspicia tis unde. </li>
                                    <li> Voluptatem accusantiumsdfgssd. Redoremque laum aperiam. </li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-col-4 lg-col-4">
                            <div class="content-box product-discription">
                                <h3>Lorem lipsum dummy</h3>
                                <ul>
                                    <li> Lorem lipsum dummy text Sed ut perspicia tis unde. </li>
                                    <li> Mnis iste natus error sit oluptatem accusant sdfg inatus error sit. </li>
                                    <li> Voluptatem accusantiumsdfgssd. Redoremque laum aperiam. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="HeadingList != null">
                        <div class="md-col-4 lg-col-4" ng-repeat="heading in HeadingList">
                            <div class="product-discription">
                                <div>
                                    <h3> {{ heading }}</h3>
                                    <ul ng-repeat="sub in SubHeadingList[$index]">
                                        <li>{{sub}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="bg-blue sm-center">
        <div class="container">
            @*<nav class="footer-nav">
                <ul class="no-style">
                    <li><a target="_blank" href="/PurchasePath/Home/SiteContents/privacy-policy">Privacy Policy</a></li>
                    <li><a target="_blank" href="/PurchasePath/Home/SiteContents/terms-conditions">Terms &amp; Conditions</a></li>
                    <li><a target="_blank" href="/PurchasePath/Home/SiteContents/other-disclosures">Other Disclosures</a></li>
                    <li><a target="_blank" href="/PurchasePath/Home/SiteContents/resources">Resources</a></li>
                </ul>
            </nav>*@
            <p class="copyright">
                &copy; @DateTime.Now.Year Berkshire Hathaway Direct Insurance Company &nbsp; | &nbsp;
                &copy; @DateTime.Now.Year National Liability &amp; Fire Insurance Company
            </p>
        </div>
    </footer>

</div>
<script>
    $(document).ready(function () {

        //$(".helpline").hover(function () {
        //    "use strict";
        //    $(this).toggleClass("toggle");
        //});

        //setTimeout(function () {
        //    $(".owl-carousel").data('owlCarousel').updateVars();
        //    $(".owl-carousel").each(function () {
        //        $(this).data('owlCarousel').calculateAll();
        //    });
        //}, 500);
    });

</script>